<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div id="canvas-frame">
      <canvas id="main-scene"> </canvas>
    </div>
  </body>
</html>
